/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

body {
  background-image: url('./assets/images/quotes.jpg');
  opacity: 0.7;
  font-weight: bold;
  color: blue;
}
.jumbotron {
  background-color: transparent;
}
